p{
  text-shadow: 0px 0px 10px yellow;
  font-weight: 800;
  padding: 10px;
}



.PokemonCard-container{
    box-shadow: 0px 0px 50px rgb(227, 223, 223);
    border-radius: 20px;
    opacity: 0.5;
    transition: all 1s ease-in-out;
    animation: moveContainer 5s ease-in-out forwards infinite ;
    box-sizing: border-box;
    padding: 20px;
    gap: 50px;
   
    display: flex;
  }
  .PokemonCard-container:hover{
    opacity: 1;
    cursor: pointer;
    animation: moveContainer 1s ease-in-out forwards infinite ;
  }
  .PokemonCard-container img{
    width: 200px;
    height: 220px;
    
    
    /* border: 4px dotted red; */
  }
  .PokemonCard-container img:hover{
    animation: light 1s ease-in-out forwards infinite ;
  
  }
  figure{
    margin: 10px;
   box-shadow: 0 0 10px rgb(0, 0, 0);
   border-radius: 20px;
  }
  
  figcaption{
    font-size: 2rem;
    padding: 10px;
    margin: 10px;
  

  }
  @keyframes light {
    0%{
      filter:drop-shadow(0px 0px 40px rgb(44, 238, 44)); ;
    }
  
    50%{
      filter:drop-shadow(0px 0px 80px rgb(236, 188, 14)); ;
    }
  
    100%{
      filter:drop-shadow(0px 0px 40px rgb(248, 248, 248)); ;
    }
  }
  
  @keyframes moveContainer {
    0%{
      transform: translateY(10px);
    }
    25%{
      transform: translateY(-10px);
    }
    50%{
      transform:translateY(10px) ;
    }
  
    75%{
      transform:translateY(-10px) ;
    }
  
   100%{
      transform: translateY(10px);
    }
  }
  