#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
button{
  flex: 1;
  height: 50px;
  padding: 5px;
  margin:20px ;
  margin-right:5px;
  background-color: rgba(240, 203, 36, 0.501);
}
.poke-button{
  
}
.show-or-close{
  border-radius: 50%;
  padding: 1px;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 1px;
  right: 5px;
}
.show-or-close:hover{
  background-color: rgba(54, 55, 54, 0.724);
  padding:1px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  transform: rotate(810deg);
}
.disabled{
  display: disabled;
  box-shadow: 0 0 10px red;
  border: none;
}
.super-container{
  box-shadow: 0 0 20px white;
  padding: 40px;
  border-radius: 20px;
  box-sizing: content-box;
  background-color: brown;
  backdrop-filter: blur(5px);
  max-width: 100%;
  position: relative;
 
}
.imgcontainer{
  display: flex;
  flex-direction: column;
 align-items: center;
  justify-content: center;
  
}
.imgcontainer button{
  width: 30%;
}
img{
  filter: drop-shadow(0 0 10px white);
  animation:slowMoves 5s ease-in-out infinite forwards;
  width: 300px;
}

@keyframes slowMoves {
  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.1);
  }

  100%{
    transform: scale(1);
  }
  
}